@import './reset.css';

:root {
  /* colors */
  --n-color-white: #ffffff;
  --n-color-black: #000000;
  --colors: (
    primary: #409eff,
    success: #67c23a,
    warning: #e6a23c,
    danger: #f56c6c,
    info: #909399
  );
  --n-bg-color: #ffffff;
  --n-bg-color-page: #f2f3f5;
  --n-bg-color-overlay: #ffffff;
  --n-text-color-primary: #303133;
  --n-text-color-regular: #606266;
  --n-text-color-secondary: #909399;
  --n-text-color-placeholder: #a8abb2;
  --n-text-color-disabled: #c0c4cc;
  --n-border-color: #dcdfe6;
  --n-border-color-light: #e4e7ed;
  --n-border-color-lighter: #ebeef5;
  --n-border-color-extra-light: #f2f6fc;
  --n-border-color-dark: #d4d7de;
  --n-border-color-darker: #cdd0d6;
  --n-fill-color: #f0f2f5;
  --n-fill-color-light: #f5f7fa;
  --n-fill-color-lighter: #fafafa;
  --n-fill-color-extra-light: #fafcff;
  --n-fill-color-dark: #ebedf0;
  --n-fill-color-darker: #e6e8eb;
  --n-fill-color-blank: #ffffff;

  @each $val, $color in var(--colors) {
    --n-color-$(val): $(color);
    @for $i from 3 to 9 {
      --n-color-$(val)-light-$(i): mix(#fff, $(color), 0$ (i));
    }
    --n-color-$(val)-dark-2: mix(#000, $(color), 0.2);
  }

  /* border */
  --n-border-width: 1px;
  --n-border-style: solid;
  --n-border-color-hover: var(--n-text-color-disabled);
  --n-border: var(--n-border-width) var(--n-border-style) var(--n-border-color);
  --n-border-radius-base: 4px;
  --n-border-radius-small: 2px;
  --n-border-radius-round: 20px;
  --n-border-radius-circle: 100%;

  /*font*/
  --n-font-size-extra-large: 20px;
  --n-font-size-large: 18px;
  --n-font-size-medium: 16px;
  --n-font-size-base: 14px;
  --n-font-size-small: 13px;
  --n-font-size-extra-small: 12px;
  --n-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '\5fae\8f6f\96c5\9ed1', Arial, sans-serif;
  --n-font-weight-primary: 500;

  /*disabled*/
  --n-disabled-bg-color: var(--n-fill-color-light);
  --n-disabled-text-color: var(--n-text-color-placeholder);
  --n-disabled-border-color: var(--n-border-color-light);

  /*animation*/
  --n-transition-duration: 0.4s;
  --n-transition-duration-fast: 0.2s;
}

html.dark {
  color-scheme: dark;
  --n-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.36), 0px 8px 20px rgba(0, 0, 0, 0.72);
  --n-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.72);
  --n-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.72);
  --n-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.72), 0px 12px 32px #000000,
    0px 8px 16px -8px #000000;
  --n-bg-color-page: #0a0a0a;
  --n-bg-color: #141414;
  --n-bg-color-overlay: #1d1e1f;
  --n-text-color-primary: #e5eaf3;
  --n-text-color-regular: #cfd3dc;
  --n-text-color-secondary: #a3a6ad;
  --n-text-color-placeholder: #8d9095;
  --n-text-color-disabled: #6c6e72;
  --n-border-color-darker: #636466;
  --n-border-color-dark: #58585b;
  --n-border-color: #4c4d4f;
  --n-border-color-light: #414243;
  --n-border-color-lighter: #363637;
  --n-border-color-extra-light: #2b2b2c;
  --n-fill-color-darker: #424243;
  --n-fill-color-dark: #39393a;
  --n-fill-color: #303030;
  --n-fill-color-light: #262727;
  --n-fill-color-lighter: #1d1d1d;
  --n-fill-color-extra-light: #191919;
  --n-fill-color-blank: transparent;
  --n-mask-color: rgba(0, 0, 0, 0.8);
  --n-mask-color-extra-light: rgba(0, 0, 0, 0.3);
}
